section.dragdrop
	.container
		h1.dragdrop__title Мы будем рады сделать предложение
		p.dragdrop__text Мы свяжемся с Вами в течении 30 минут
	form.dragdrop__form
		.dragdrop__field
			label.dragdrop__label(for="inputName") Ваше имя*
			input.dragdrop__input(type="text" name="name" id="inputName")
		.dragdrop__field
			label.dragdrop__label(for="inputPhone") Телефон*
			input(type="tel" name="phone" id="inputPhone")
		.dragdrop__field
			label(for="inputEmail") Ваша почта*
			input(type="email" name="mail" id="inputEmail")
		.dragdrop__field
			label.dragdrop__label(for="inputText") Опишите Вашу задачу (можете оставить поле пустым)
			textarea.dragdrop__input.dragdrop__input--textarea(name="text" cols="30" rows="10")
		button.dragdrop__button(type="submit") Получить предложение
